/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.sc-ion-card-md-h {
  background: white;
}

.page-background {
  --background: var(--ion-color-light);
  padding: 0;
  height: 100%;
}

.align {
  align-items: center;
  vertical-align: middle;
}

.name {
  font-size: 1.4rem;
  text-transform: capitalize;
}

.avatar {
  margin-left: 20%;
  width: 60%;
  height: 60%;
}

.header-row {
  font-weight: bold;
}

.split-pane-visible > .split-pane-side {
  min-width: 260px !important;
  max-width: 260px !important;
}

.mat-input-wrapper {
  width: 100% !important;
}

.mat-row:hover {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.mat-tooltip.tooltip {
  font-size: 1.2rem;
}

.disable-scrollbars::-webkit-scrollbar {
  display: none;
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.active {
  background-color: white;
  color: var(--ion-color-primary) !important;
  ion-icon {
    color: var(--ion-color-primary) !important;
  }
  --color-hover: var(--ion-color-primary) !important;
}

.mat-header-cell.text-center {
  text-align: center;
}

.cancel {
  color: var(--ion-color-danger) !important;
}

#cdk-overlay-1 .mat-option-text {
  line-height: 1.5;
}




.label-form mat-form-field:not(.remarks-label) .mat-form-field-infix:not(.ng-tns-c164-8){
  background: #b7e2f3;
  border-radius: 1.203vw;
  position: relative;
  text-align: center;
  text-indent: 0px;
  min-height: 3.412vw;
  font-weight: 500;
  color: #000;
}

.card-content-md .mat-form-field-infix {
  width: 135px;
}

.label-form  .mat-form-field-underline {
  height:0px;
  display: none;
}
.label-form .mat-form-field-label{
  font-size:16px;
  font-weight:500;
padding-top:10px;
}
.label-form .mat-input-element{
  margin-top:.5vw;
  display: inline-block;
  vertical-align: middle;
  z-index: 2;
}

.label-form label#mat-form-field-label-27 {
position: absolute;
  left: 0;
  right: 0;
  transition: none !important;
  transform: none !important;
}

.label-form .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
  transform: none;
  transition: none;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  width: 100%;
  color: #000;
}

.label-form .mat-form-field-appearance-legacy .mat-form-field-label {
  transform: none;
  top: 0;
  color:#000;
  font-size:0.878vw;
}

.label-form .mat-form-field-appearance-legacy.mat-form-field-invalid:not(.mat-focused) .mat-form-field-ripple {
  height: 0;
}

.label-form ion-col.md.hydrated,.label-form ion-col.ios.hydrated {
  // border-right: 1px solid #ccc;
  padding: 0px;
  width: auto;
  margin: 0;
  text-align: center;
  padding-inline-start: 15px;
  padding-inline-end: 15px;
  max-width: fit-content;
}

.label-form  .mat-form-field-suffix {
  position: absolute;
  right: 10px;
  bottom: 24px;
}
.remarks-label{
  display:inline;
  width:100%;
}
.remarks-label .mat-form-field-infix{
display:flex;
align-items: center;
width: auto;
}
.remarks-label .mat-form-field-infix textarea{
  border: 2px solid #b7e2f3;
  border-radius:50px;
  resize:none;
  order: 2;
  padding-left: 10px;
  height: 2.721vw;
  padding-top: 0.735vw;
  font-size: 0.956vw;
  margin-top: 0.952vw;
  width: 76% !important;
} 
ion-row.search_place.md.hydrated {
  margin-left: 0.366vw;
}
.search-table .mat-form-field-flex{justify-content: center !important;    align-items: center;}
.remarks-label .mat-form-field-label-wrapper {
  position: relative;
    display: block;
    width: 14%;
    top: auto;
    background: #b7e2f3;
    border-radius: 50px;
    text-align: center;
    margin: 0px;
    padding: 0.8vw 0.8vw;
    margin-right: 0.735vw;
    margin-top: 1.1vw;
    z-index: 2;
}

.remarks-label .mat-form-field-label {
  display: contents !important;
}
.remarks-label .label-form .mat-form-field-underline,.remarks-label .mat-form-field-appearance-legacy .mat-form-field-ripple{
display:none !important;
}

.label-form .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px;
}
.label-form ion-row.align.md.hydrated,.label-form ion-row.align.ios.hydrated {
  // margin-bottom: 20px;
  // overflow-x: scroll;
    flex-wrap: nowrap;
}
.label-form ion-col.md.hydrated:last-child,.label-form ion-col.ios.hydrated:last-child {
  border: none;
}
.search_bar{
  flex-wrap: unset;
}
.label-form .search_bar .md.hydrated:first-child,.label-form .search_bar .ios.hydrated:first-child {
  border-right: 0px;
  margin-right: 30px;
}
.label-form .search_bar,.label-form .search_bar .mat-form-field-flex{
  justify-content: flex-start;
}
.search_bar ion-col.md.hydrated,.search_bar ion-col.ios.hydrated{
  margin-right: auto;
  margin-left: 0;
}
.draft_box {
  background: #ffffff;
text-align: center;
border-radius: 10px;
position: relative;
padding: 10px;
}

.draft_box ion-card.md.hydrated,.draft_box ion-card.ios.hydrated  {
background: transparent;
box-shadow: none;
}

.draft_box ion-card-header.ion-inherit-color {
color: #000;
margin: 0px;
}
.draft_box ion-text.ion-color.ion-color-tertiary.md.hydrated ,.draft_box ion-text.ion-color.ion-color-tertiary.ios.hydrated {
color: #000;
font-size: 1vw;
}
.draft_box .mat-table {
background: #b7e2f3;
}

.horizontal-boxes {
  max-height: 30em !important;
  overflow-y: hidden !important;
  position: relative;
  max-width: 100%;
  overflow-x: scroll;
  background: #fff;
  padding-top:40px;
  padding: 0;
  border: 20px solid #fff;
  border-radius: 10px;
  margin-right: 11px;
  border-top:0
}

.horizontal-boxes ion-row {
  width: max-content;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-wrap: nowrap;
}
.horizontal-boxes ion-card-content ion-row{
  width:100%;
}

.horizontal-boxes ion-col.ng-star-inserted.md.hydrated ,.horizontal-boxes ion-col.ng-star-inserted.ios.hydrated {
  display: inline-block;
  width: 20% !important;
  max-width: 280px !important;
  text-align:center;
}


.horizontal-boxes ion-card {
  box-shadow: none;
  border: 2px solid #b7e2f3;
  padding: 20px 0px;
  padding-top: 9px;
  border-radius: 0.956vw;
}

.horizontal-boxes ion-card-footer {
  display: block;
  position: relative;

}

.horizontal-boxes  ion-card-subtitle.ion-inherit-color.md.hydrated,.horizontal-boxes  ion-card-subtitle.ion-inherit-color.ios.hydrated {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.horizontal-boxes ion-card-content {
 
  text-align:center;
}
// .horizontal-boxes ion-button{
//   display:none;
// }

.horizontal-boxes ion-col.box-price {
  text-align: center;
  display: block;
}
.horizontal-boxes ion-card-header {
  padding: 0;
}
.pieces-num {
  width: 130px !important;
  margin-bottom: 12px;
  background: yellow;
  border-radius: 54px;
  padding-left: 12px;
  padding-right: 10px;
}


.horizontal-boxes::-webkit-scrollbar-track
{
border-radius: 10px;
background-color: #F5F5F5;

}
.horizontal-boxes::-webkit-scrollbar
  {border-radius:10px;
width: 12px;
background-color: #F5F5F5;
     height:8px;
}
.horizontal-boxes::-webkit-scrollbar-thumb
{
border-radius: 10px;
background-color: #ccc;
}

.draft-payment {
  background: red;
  color: #fff !important;
  padding: 10px 15px !important;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
}
.submit-payment{
  background: green;
  color: #fff !important;
  padding: 10px 20px !important;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
}
.striped .mat-row:nth-child(even) {
  background-color: #fff;
  border: none;
}

.striped mat-header-row {
  background-color: #f1f1f1;
  border: none;
}

.striped .mat-row:nth-child(odd) {
  background-color: #f3f3f3;
  border: none;
}

.striped .mat-row:hover {
  box-shadow: none;
}

.striped mat-header-row mat-header-cell {
  font-size: 1.171vw;
  font-weight: bold;
  color: #000;
  min-height: 4.173vw;
}

.striped .mat-cell,.striped .mat-footer-cell{
  font-size: 1.025vw;
}

// .table-card{
//   padding:15px 0px;
// }
app-add-sales-invoice ion-card{
  box-shadow:none;
}
.search-table{
  border:2px solid #ccc;
  border-radius:10px;
 }
 .search-table .mat-form-field-underline{
     display:none;
 }
 .search-table .mat-form-field-wrapper {
     padding:0
 }
 .search-table .mat-form-field-appearance-legacy .mat-form-field-label{
  transform:none;
}
.search-table .mat-form-field-label-wrapper{
  top: 0;
  padding-top: 0;
}

.search-table .mat-form-field-label{
  transform:none !important;
}
.search-table  .mat-form-field-prefix{
  padding:0px 20px
}
ion-card-title.invBtn.ion-inherit-color.md.hydrated,ion-card-title.invBtn.ion-inherit-color.ios.hydrated {
  background: #b7e2f3;
  height: 0px;
  border-radius: 15px;
  min-width: 142px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-height: 3.412vw
}
.search-table .mat-form-field-flex{min-height: 2.38vw;}
#promotionalOffer {
  min-height: 17.5vw;
}
ion-row.prod-data-list.md.hydrated {
  min-height: 10.294vw;
}
ion-row.search_place.md.hydrated,ion-row.search_place.ios.hydrated  {
  width: 50%;
  margin-top: -3.309vw;
  height: 3.02vw;
}

ion-grid.search_place-container.md.hydrated {
  margin: 0 5px;

}
.customer-hide-mobile-field {
  position: absolute;
  color: #fff;
  z-index: -1;
}
.search_place .mat-form-field-infix {
  padding: 0;
  border: 0;
}
.search_place .mat-form-field-infix .mat-form-field-label{
  display: contents !important;
}
.search_place-container{
  padding: 0;
}
ion-card-title.invBtn.ion-inherit-color.md.hydrated ion-text.ion-color.ion-color-tertiary.md.hydrated ,ion-card-title.invBtn.ion-inherit-color.ios.hydrated ion-text.ion-color.ion-color-tertiary.ios.hydrated {
  color: #000;
}
.label-form .search_bar .md.hydrated:first-child ,.label-form .search_bar .ios.hydrated:first-child {padding: 0;}
ion-card-header+.card-content-md{padding-bottom:0px;}
ion-card.md.hydrated ,ion-card.ios.hydrated {
  margin-bottom: 0;
}
.label-form ion-row.align.md.hydrated ion-col.md.hydrated:first-child,.label-form ion-row.align.ios.hydrated ion-col.ios.hydrated:first-child {
  padding-left: 0;
}

.label-form ion-row.align.md.hydrated ion-col.md.hydrated:last-child ,.label-form ion-row.align.ios.hydrated ion-col.ios.hydrated:last-child {
  padding-right: 0;
}

 ion-row.navTopButton.md.hydrated, ion-row.navTopButton.ios.hydrated {
  padding-left: 12px;
  // margin-top: 10px;
  
}
ion-header ion-list.list-md{
  padding: 0px;
}
 ion-row.navTopButton.md.hydrated button.mat-focus-indicator.mat-button.mat-button-base.mat-primary, ion-row.navTopButton.ios.hydrated button.mat-focus-indicator.mat-button.mat-button-base.mat-primary {
background: #f4c343;
margin-right: 35px;
display: flex;
align-items: center;
border-radius: 10px;
padding: 0.1vw 1vw;
margin-bottom: 5px;
}

 ion-row.navTopButton.md.hydrated button.mat-focus-indicator.mat-button.mat-button-base.mat-primary span.mat-button-wrapper, ion-row.navTopButton.ios.hydrated button.mat-focus-indicator.mat-button.mat-button-base.mat-primary span.mat-button-wrapper {
color: #4a4a4a;
font-size: 1.414vw;
font-weight: 600;
letter-spacing: 1px;
// line-height: 1.5;
}


 .remarks-label .mat-form-field-infix {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}
.toolbar-strip-top  ion-text.ion-margin-end {
  margin: 0;
  color: #000;
  font-size: 15px;
}

.iconAcc-logout {
  margin-left: 15px;
  background: none;
  height: auto;
}

.iconAcc-logout ion-label.sc-ion-label-md-h {
  font-size: 22px;
}

.iconAcc-logout ion-avatar.md.hydrated,.iconAcc-logout ion-avatar.ios.hydrated {
  width: 45px;
  height: 45px;
}

.iconAcc-logout ion-avatar.md.hydrated img,.iconAcc-logout ion-avatar.ios.hydrated img {
  width: 100%;
  height: 100%;
}
// app-home.ion-page ion-content.md.hydrated {--offset-top: -60px !important;}
// ion-content.main-content-block.md.hydrated,ion-content.page-background.md.hydrated {
//   --offset-top: -36px !important;
// }

ion-card-header.ion-inherit-color.md.hydrated,ion-card-header.ion-inherit-color.ios.hydrated {
  padding-top: 0;padding-bottom: 0;
}

ion-card-subtitle.ion-inherit-color.md.hydrated,ion-card-subtitle.ion-inherit-color.ios.hydrated{padding-top: 16px;}
ion-card-title.ion-inherit-color.md.hydrated,ion-card-title.ion-inherit-color.ios.hydrated{padding-bottom: 16px;}
.invBtn {
  padding-bottom: 0 !important;
}
.chip-main-wrapper {
  display: flex;
  overflow-x: auto;
  margin: 0 10px;
  border:none;
}

.chip-main-wrapper mat-chip-list {
  min-width: fit-content;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.chip-main-wrapper mat-chip-list mat-chip.mat-chip.mat-focus-indicator {
  border-radius: 0;
  padding: 1.464vw 1.830vw;
  background-color: #499bc0 !important;
  color: #fff !important;
  font-weight: 600;
}
.main-filed-pos-form {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.main-filed-pos-form ion-col.md.hydrated,.main-filed-pos-form ion-col.ios.hydrated {
  // flex-basis: auto;
  // flex-grow: 0;
  display: flex;
}

.main-filed-pos-form ion-col.md.hydrated mat-form-field,.main-filed-pos-form ion-col.ios.hydrated mat-form-field {
  width: 70%;
  padding-left: 20px;
  border-left: 1px solid #ccc;
}

.main-filed-pos-form ion-col.md.hydrated ion-text.ion-color,.main-filed-pos-form ion-col.ios.hydrated ion-text.ion-color {
  width: 14.641vw;
  display: inline-block;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  min-width: 50%;
}
.main-filed-pos-form .mat-form-field-wrapper{
  padding-bottom: 0px;
}


.main-filed-pos-form ion-col.md.hydrated mat-form-field .mat-form-field-wrapper,.main-filed-pos-form ion-col.ios.hydrated mat-form-field .mat-form-field-wrapper {
  border: 0;
}

.main-filed-pos-form ion-col.md.hydrated mat-form-field .mat-form-field-wrapper .mat-form-field-infix,.main-filed-pos-form ion-col.ios.hydrated mat-form-field .mat-form-field-wrapper .mat-form-field-infix {
  border: none;
}
.main-filed-pos-form .mat-form-field-appearance-legacy .mat-form-field-underline,.main-filed-pos-form  .mat-form-field-appearance-legacy.mat-form-field-invalid:not(.mat-focused) .mat-form-field-ripple{height:0}
.payment-draft-btn-box {display: flex;}
.payment-draft-btn-box button.draft-payment {background: #ea5255;font-size: 10px;padding: 0.732vw 2.196vw !important;border-radius: 0.732vw;margin-right: 23px;    max-width: 11.201vw;}
input.mat-input-element,.mat-form-field-appearance-legacy .mat-form-field-label{font-size: 1vw;}
.payment-draft-btn-box button.draft-payment span.mat-button-wrapper {line-height: 1.318vw; white-space: break-spaces;font-size: 1.2vw;width:100%;display: block;}
.payment-draft-btn-box button.submit-payment {background: #a5c536;font-size: 20px;padding: 0.732vw 0 !important;border-radius: 0.732vw;margin-right: 1.684vw;width: 12.445vw;}
.payment-draft-btn-box button.submit-payment span.mat-button-wrapper {line-height: 1.2;white-space: nowrap;font-size: 1.2vw;width: 100%;display: block;}
.item-scroll-box ion-card.mat-tooltip-trigger.grid-card.md.hydrated,.item-scroll-box ion-card.mat-tooltip-trigger.grid-card.ios.hydrated {
  margin: 0;
  width: 100%;
}
.main-filed-pos-form .mat-form-field-appearance-legacy .mat-form-field-underline{
  top: 28px;
}

.item-scroll-box ion-col.ng-star-inserted.md.hydrated,.item-scroll-box ion-col.ng-star-inserted.ios.hydrated {
  max-width: 13.909vw !important;
  margin-right: 30px;
}

.item-scroll-box  .horizontal-boxes ion-card-content {
  max-width: 50px !important;
}
.item-scroll-box ion-card-subtitle.ion-inherit-color.md.hydrated,.item-scroll-box ion-card-subtitle.ion-inherit-color.ios.hydrated {
  padding: 0;
  font-size: 0.95vw;
}
ion-col.box-price {
  font-size: 1.1vw;
  padding: 0;
  line-height: 1.5vw;
}

.item-scroll-box ion-button.ng-star-inserted.ion-color.ion-color-primary.md.button.button-small.button-clear.ion-activatable.ion-focusable.hydrated {
  display: none;
}
ion-img.item-image.prd-slid-img.md.hydrated,ion-img.item-image.prd-slid-img.ios.hydrated{  width: 60px;
  width: 8vw;
  height: 3.5vw;
  margin: 0 auto;
  margin-bottom: 0.2vw;
  margin-top: 1.2vw;
}

.item-prod-wrapper {
  position: relative;
}

.item-prod-wrapper .pieces-num.count-pcs{
  position: absolute;
  top: 0;
  left: 5px;
  z-index: 2;
  width: fit-content !important;
  font-size: 0.625vw;
  padding:  3px 8px;
}
.item-scroll-box ion-card.mat-tooltip-trigger.grid-card.md.hydrated,.item-scroll-box ion-card.mat-tooltip-trigger.grid-card.ios.hydrated {
  padding-bottom: 5px;
}

.form-pos-box {

  border-radius: 0;
  padding-top: 0;
}



.main-promo-offer-box .grid-container.horizontal-boxes ion-row.md.hydrated,.main-promo-offer-box .grid-container.horizontal-boxes ion-row.ios.hydrated {
    flex-wrap: wrap;
    width: 100%;
}

.main-promo-offer-box .grid-container.horizontal-boxes ion-row.md.hydrated ion-col.ng-star-inserted,.main-promo-offer-box .grid-container.horizontal-boxes ion-row.ios.hydrated ion-col.ng-star-inserted {
    width: 50% !important;
    max-width: 100% !important;
    margin: 0;
    flex: 0 0 calc(calc(2 / var(--ion-grid-columns, 04)) * 100%) !important;
}
ion-text.ion-color.ion-color-tertiary.promo-offer-box-heading.md.hydrated,ion-text.ion-color.ion-color-tertiary.promo-offer-box-heading.ios.hydrated {
  background: #f4c343;
  display: block;
  padding: 0.2vw 0;
  border-radius: 20px;
  max-width: 90%;
  margin: 0 auto 0.2vw auto;
  font-weight: 500;
  font-size: 1.2vw;
  margin-bottom: 0px;
}


.main-promo-offer-box .grid-container.horizontal-boxes {
  display: block !important;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  padding-bottom: 5px;
  overflow: hidden;
}
ion-col.draft_box.form-pos-box.md.hydrated,ion-col.draft_box.form-pos-box.ios.hydrated  {
  // margin-top: -50px;
  margin-top: 10px;
}

#promotionalOffer .horizontal-boxes{
  border: none;
}

.mat-standard-chip.more-btn {
  border-radius: 0px !important;
  padding: 0.662vw 0.735vw 2.279vw 1.471vw;
  background-color: #499bc0 !important;
  color: #fff !important;
  font-weight: 600;
  margin-top: 10px;
  margin-right: 32px;
  margin-left: 0;
}
mat-table.mat-table.cdk-table.striped {
  height: 100%;
  min-height: 11.5vw !important;
  overflow: auto !important;
  max-height: 12.031vw;
}
.mat-standard-chip.more-btn .mat-icon-no-color {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 100%;
  width: 100%;
  font-size: 69px;
  line-height: 0.32;
}
form.label-form.form-info-invoice.ng-untouched.ng-pristine.ng-invalid {
  min-height: 8.456vw;
}

.blurClassBy *{filter:blur(2px)}

.search-table , .search-table  *,ion-grid.search_place-container.md.hydrated,ion-grid.search_place-container.md.hydrated *,ion-grid.search_place-container.ios.hydrated,ion-grid.search_place-container.ios.hydrated *{filter:blur(0px) !important}

ion-col.pro-tot-strip.md.hydrated,ion-col.pro-tot-strip.ios.hydrated  {display: block;width: 96%;background: #ebebeb;padding: 0.735vw 1.471vw; margin: 0 auto;}

ion-col.pro-tot-strip.md.hydrated ion-text.ion-color.ion-color-tertiary.md.hydrated,ion-col.pro-tot-strip.ios.hydrated ion-text.ion-color.ion-color-tertiary.ios.hydrated {
    color: #000;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 1.171vw;
}

.prod-data-list {
  width: 100% !important;
}
ion-card.card-main-invoice-list.md.hydrated,ion-card.card-main-invoice-list.ios.hydrated  {
  box-shadow: none;
}
.modal-heading {
  background: #499bc0;
  text-align:center;
  padding:0 !important;
  margin:0;
  border-radius:10px;
}
.modal-heading ion-text{
  color:#fff;
  line-height:2;
  font-weight:600;
  
}
.card-main-invoice-list .striped .mat-header-row th{
width: 30%;
font-size: medium;
font-weight: bold;
color: #000;
text-align: center;
border: 0;
text-transform: capitalize;
}
.adv-search{
  cursor: pointer;
}
ion-row.align.main-filed-pos-form.md.hydrated {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.6vw;
  overflow: auto;
  height: 38vh;
  overflow-x: hidden;
 
}
.main-filed-pos-form ion-col.md.hydrated ion-text.ion-color,.main-filed-pos-form ion-col.ios.hydrated ion-text.ion-color  {
  border-right: 1px solid #ccc;
} 


ion-row.search_place.md.hydrated>.md.hydrated,ion-row.search_place.ios.hydrated>.ios.hydrated {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 0.781vw;
}
.card-main-invoice-list .striped .mat-row td{
  width: fit-content;
  text-align: center;
  border: none;
  min-width: 19%;
}
.card-main-invoice-list ion-card-content{
  padding: 6px !important;
}
.card-main-invoice-list-footer{
  text-align: center;
}
.card-main-invoice-list-footer ion-button{
  float: none !important;
}
#draft-list-dialog-container {
  border-radius: 20px !important;
}
app-customer-create-dialog h5{
  text-align: center;
  margin-bottom: 30px;
}
app-customer-create-dialog mat-form-field{
  width: 100%;
  margin-bottom: 10px;
}
// app-customer-create-dialog mat-form-field .mat-form-field-flex{
//   border:1px solid #4a4a4a;
//   border-radius: 4px;
// }
app-customer-create-dialog mat-form-field .mat-form-field-appearance-legacy .mat-form-field-underline{
  height: 0px;
}
app-customer-create-dialog mat-form-field .mat-form-field-infix{
  border: 0;
  padding: 0px !important;
  width: 100%;
  height: auto;
}
app-customer-create-dialog mat-form-field .mat-form-field-subscript-wrapper {
  margin-top: 0 !important;
  padding-bottom: 26px !important;
}
app-customer-create-dialog mat-form-field .mat-form-field-invalid .mat-form-field-flex{
border-color: #f44336 !important;
}
app-customer-create-dialog mat-form-field .mat-form-field-underline{
display: none;
}
app-customer-create-dialog mat-form-field .mat-form-field-label-wrapper{
  top: -19px;
  margin: 0;
  padding: 0;
}
app-customer-create-dialog mat-form-field .mat-form-field-label{
  transform: none !important;
  position: absolute;
  top: 0 !important;
}
app-customer-create-dialog mat-form-field  .mat-input-element{
  padding: 8px 10px;
  margin: 0;
  background: #fbf5f8;
  border: 1px solid #ccc;
  border-radius: 7px;
  width: 100% !important;
}
app-customer-create-dialog .option-input .mat-form-field-subscript-wrapper {
  display: none;
}
app-customer-create-dialog .option-input .mat-form-field-wrapper{
  padding-bottom: 0px !important;
}
#customer-create-dialog ,app-customer-create-dialog .mat-dialog-content{
  max-height:100% !important;
  overflow: visible;
}
app-customer-create-dialog .divider{
background: #ccc;
}
app-customer-create-dialog .secondry-heading{
  margin: 0;
  line-height: 1.5;
  text-align: left;
  font-weight: 400;
    font-size: 14px;
    color: #686767;
}
#customer-create-dialog{
  border-radius: 10px !important;
}
#customer-create-dialog .mat-dialog-actions{
  justify-content: center;
}
.mat-dialog-actions button{
  padding:5px 10px;
     max-width:60px;
  text-align:center;
}
.mat-dialog-actions button span{
      color:#fff;
}
.mat-dialog-actions button{
  padding:5px 10px;
     max-width:75px;
  text-align:center;
}
.mat-dialog-actions button span{
      color:#fff;
}
.mat-dialog-actions button.cancel-btn{
  background:#f14950;
  font-size: 22px;
}
.mat-dialog-actions button.confirm-btn{
  background:#499bc0;
  font-size: 22px;
}

.somethinglist{
  font-size: 0px;
}

.paymentForm-inner{
  margin-top: 0;

}
.paymentForm-inner ion-card-content{
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0.05vw;
}
.topbar-form ion-row:not(.search_bar) ion-col {
  padding: 0px 0.8vw !important;
  min-width:9vw !important;
  max-width: 20vw !important;
  width:100%;
}

.topbar-form ion-row:not(.search_bar) ion-col:first-child {
  padding-left: 0px !important;
}
.topbar-form ion-row:not(.search_bar) ion-col .mat-form-field-label{
  font-size:1vw !important;
}
.topbar-form ion-row:not(.search_bar) ion-col .mat-form-field{
  display:block;
}
.topbar-form ion-row:not(.search_bar) ion-col ion-card-title.invBtn{
  font-size: 1.1vw;
    padding: 0.2vw 0.5vw;
    min-width: auto !important;
    min-height: 3vw;
}
.mat-input-element {
  width: 80% !important;
}
.card-content-md .mat-form-field-infix {
   min-height: 1.977vw;
}
.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
  font-size: 1.025vw;
}
mat-footer-row.mat-footer-row.cdk-footer-row.footer.ng-star-inserted.mat-table-sticky {
  display: none;
}
ion-content.main-content-block.ios.overscroll.hydrated {
  --keyboard-offset: 0px !important;
}
.mat-form-field.mat-focused .mat-form-field-label {
  color: rgb(0 0 0 / 0%);
}
// Responsive Design
@media(max-width:786px){
  .striped mat-header-row {
    padding-right: 120px;
}
.card-main-invoice-list mat-header-row.mat-header-row.cdk-header-row.ng-star-inserted.mat-table-sticky {
  padding-right: 0;
}
.remarks-label .mat-form-field-infix textarea {
  height: 30px;
}
  .navTopButton{
      display:none;
  }
 .table-card ion-card-content{
    width: 500px;
    overflow-x: scroll;
  }
  .table-card ion-item{
    width: 1024px;
  }
  .payment-draft-btn-box button.submit-payment,.payment-draft-btn-box button.draft-payment{
    padding: 5px 20px !important;
    margin-right: 0px !important;
  }
  .payment-draft-btn-box button.draft-payment span.mat-button-wrapper,.payment-draft-btn-box button.submit-payment span.mat-button-wrapper {
    font-size: 16px;
  }

  ion-img.item-image.prd-slid-img.md.hydrated,ion-img.item-image.prd-slid-img.ios.hydrated{
    width: 100%;
    height: 55px;
  }
  .horizontal-boxes ion-card{
    padding: 20px 0px;
  }
  .item-scroll-box ion-card-subtitle.ion-inherit-color.md.hydrated,.item-scroll-box ion-card-subtitle.ion-inherit-color.ios.hydrated, div#promotionalOffer .item-scroll-box ion-card-subtitle, div#promotionalOffer ion-col.box-price.md.hydrated,div#promotionalOffer .item-scroll-box ion-card-subtitle, div#promotionalOffer ion-col.box-price.md.hydrated{
    font-size: 12px !important
  }
  ion-col.box-price{
    font-size: 12px;
    line-height: 1.2;
  }
  ion-text.ion-color.ion-color-tertiary.promo-offer-box-heading.md.hydrated,  ion-text.ion-color.ion-color-tertiary.promo-offer-box-heading.ios.hydrated{
    padding: 10px 0;
    font-size: 16px;
  }
  .horizontal-boxes{
    border: 10px solid #fff;
    
  }
  .chip-main-wrapper{
   margin: 0px; 
  }
  .prod-data-list{
    width: max-content !important;
  }
  .item-scroll-box ion-col.ng-star-inserted.md.hydrated,  .item-scroll-box ion-col.ng-star-inserted.ios.hydrated{
    max-width: 150px !important;
    min-width: 145px !important;
  }
  .main-promo-offer-box .grid-container.horizontal-boxes ion-row.md.hydrated ion-col.ng-star-inserted,.main-promo-offer-box .grid-container.horizontal-boxes ion-row.ios.hydrated ion-col.ng-star-inserted{
    max-width: 50% !important;
    margin: auto;
  }
  ion-row.search_place.md.hydrated,ion-row.search_place.ios.hydrated{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    padding: 5px 10px;

  }
  .customer-hide-mobile-field {
    position: absolute;
    color: #fff;
    z-index: -1;
}
  .search_bar{
    display: block;
  }
  .label-form ion-card-content{
    padding: 0;
  }
  .label-form ion-row.align.md.hydrated, .label-form ion-row.align.ios.hydrated{
    overflow-x: scroll;
  }
  .form-info-invoice .topbar-form ion-row:not(.search_bar) ion-col .mat-form-field-label {
    font-size: 15px !important;
}

.form-info-invoice #cdk-overlay-1 .mat-option-text {
    margin: 16px 0 !important;
    display: block !important;
}

.form-info-invoice .mat-option {
    height: 90px;
    border-bottom: 1px solid #bfbfbf;
}

.form-info-invoice ion-card-header.ion-inherit-color.ios.hydrated,.form-info-invoice ion-card-header.ion-inherit-color.md.hydrated  {
    padding: 0;
}

.form-info-invoice ion-text.ion-color.ion-color-tertiary.ios.hydrated,.form-info-invoice ion-text.ion-color.ion-color-tertiary.md.hydrated  {
    font-size: 15px;
}

.form-info-invoice ion-row.align.ios.hydrated,.form-info-invoice ion-row.align.md.hydrated {
    display: block;
}

.form-info-invoice .remarks-label .mat-form-field-label-wrapper{    min-width: 60px;width: fit-content;}

.form-info-invoice  .mat-form-field-infix{border-radius: 50px !important;}

.mat-option{height:90px !important}

.invioce-main-wrapper .mat-form-field-prefix.ng-tns-c164-7.ng-star-inserted {
    padding: 6px 20px 3px 20px;
}

.invioce-main-wrapper ion-row.search_place.ios.hydrated,.invioce-main-wrapper ion-row.search_place.md.hydrated {
    max-width: 95%;
    margin: 0 auto;
    height: 45px;
}

.invioce-main-wrapper .grid-card[_ngcontent-muw-c341] {
    width: fit-content;
}
mat-table.mat-table.cdk-table.striped{min-height: 160px  !important;}
ion-col.draft_box.form-pos-box.ios.hydrated {
  margin-top: 50px;
}
ion-row.search_bar.ios.hydrated ion-col.ios.hydrated {
  margin: 0;
  padding: 0;
}
mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
  justify-content: flex-start !important;
}
.main-filed-pos-form ion-col.md.hydrated mat-form-field, .main-filed-pos-form ion-col.ios.hydrated mat-form-field{    width: 50%;}
ion-text.ion-color.ion-color-tertiary.promo-offer-box-heading.ios.hydrated{margin-bottom: 10px; }
.payment-draft-btn-box button.draft-payment,.payment-draft-btn-box button.submit-payment {
  width: 50%;
  padding: 7px 0 !important;
  margin-bottom: 10px !important;

  min-width: 145px;
}
.card-main-invoice-list {
  margin: 0 -10px;
}
.card-main-invoice-list mat-table.mat-table.cdk-table.striped {
  min-height: 40vh !important;
}
.mat-option {
  height: auto !important;
  border-bottom: 1px solid #ccc;
}
.cus-name-list {
  padding: 9px !important;
  font-size: 12px !important;
}
mat-header-row.mat-header-row.cdk-header-row.ng-star-inserted.mat-table-sticky,mat-row.mat-row.cdk-row.ng-star-inserted {
  min-width: 600px;
}
.mat-input-element {
  width: 90% !important;
}
#promotionalOffer .horizontal-boxes {
   width: 100%;
}
.chip-main-wrapper mat-chip-list mat-chip.mat-chip.mat-focus-indicator {
  background: none !important;
  color: #499bc0 !important;
  padding: 0;
  padding-right: 15px;
  border-right: 1px solid #499bc0;
  margin-right: 15px;
}
.main-filed-pos-form ion-col.md.hydrated ion-text.ion-color, .main-filed-pos-form ion-col.ios.hydrated ion-text.ion-color{width:50%}
input.mat-input-element, .mat-form-field-appearance-legacy .mat-form-field-label,.label-form .mat-form-field-appearance-legacy .mat-form-field-label,.remarks-label .mat-form-field-infix textarea,.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary,.striped mat-header-row mat-header-cell,.striped .mat-cell, .striped .mat-footer-cell,ion-col.pro-tot-strip.md.hydrated ion-text.ion-color.ion-color-tertiary.md.hydrated, ion-col.pro-tot-strip.ios.hydrated ion-text.ion-color.ion-color-tertiary.ios.hydrated,.draft_box ion-text.ion-color.ion-color-tertiary.md.hydrated, .draft_box ion-text.ion-color.ion-color-tertiary.ios.hydrated{font-size:12px;}
.modal-heading ion-text{font-size: 25px;}




}
mat-header-cell.mat-header-cell.cdk-header-cell.cdk-column-item.mat-column-item.ng-star-inserted,mat-cell.mat-cell.cdk-cell.cdk-column-item.mat-column-item.ng-star-inserted {
  flex: 0 0 40%;
  justify-content: left;
}

mat-header-cell.mat-header-cell.cdk-header-cell.cdk-column-delete.mat-column-delete.ng-star-inserted,mat-cell.mat-cell.cdk-cell.cdk-column-delete.mat-column-delete.ng-star-inserted{
  flex: 0 0 10%;
  justify-content: flex-start;
}

.search-dropdown {
  box-shadow: none !important;
  background: transparent;
}

.search-dropdown::-webkit-scrollbar {
display: none;
}

.search-dropdown  {
scrollbar-width: none; /* Firefox */
-ms-overflow-style: none; /* IE 10+ */
}
.option-search-list .option-text {
  display: inline-block;
  max-width: 88%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.176vw;
}

.option-search-list .mat-option-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-dropdown .mat-option{background:#fff;border-radius:15px;border:1px solid #c3c3c3;min-height: 2.941vw;}
.search-dropdown .mat-option.mat-active,.search-dropdown .mat-option:hover{background:#eaeaea}


.paymentForm-inner ion-col.md.hydrated:first-child ion-text.ion-color.ion-color-tertiary.md.hydrated {
    padding-top: 10px;
}

.paymentForm-inner ion-col.md.hydrated:first-child input.mat-input-element  {
    margin-top: 10px;
}

.paymentForm-inner ion-col.md.hydrated:last-child ion-text.ion-color.ion-color-tertiary.md.hydrated {
    padding-bottom: 10px;
}

.paymentForm-inner ion-col.md.hydrated:last-child input.mat-input-element {
    margin-bottom: 10px;
}

.paymentForm-inner ion-col.md.hydrated {
    padding-bottom: 0px;
}

.paymentForm-inner ion-col.md.hydrated .md.hydrated {
    padding-bottom: 5px;
}

.paymentForm-inner ion-col.md.hydrated input.mat-input-element,.paymentForm-inner ion-col.ios.hydrated input.mat-input-element,.paymentForm-inner ion-col.md.hydrated input.mat-input-element::placeholder, .paymentForm-inner ion-col.ios.hydrated input.mat-input-element::placeholder {
    text-align: left;
    text-indent: 15px;
    color: #000;
}
.paymentForm-inner ion-col.md.hydrated input.mat-input-element::placeholder,.paymentForm-inner ion-col.md.hydrated input.ios-input-element::placeholder {color: #000;}
input#mat-input-7 {
  width: 80% !important;
  height:100%
}
.strong-text * {
  font-weight: bold;
}
.card-main-invoice-list-footer {position: absolute;bottom: 0.521vw;left: calc(50% - 2.344vw);}
.card-main-invoice-list-footer ion-button {height: 2.83vw;
  min-width: 4.688vw;
  text-transform: capitalize;}
.card-main-invoice-list {position: relative;height: 100%;width: 100%;}
app-draft-list.ng-star-inserted {
  height: 97%;
  width: 100%;
  display: block;
}

mat-table.mat-table.cdk-table.striped::-webkit-scrollbar {
  width: 15px;
}

mat-table.mat-table.cdk-table.striped::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #b5b5b5; 
  border-radius: 10px;
}

mat-table.mat-table.cdk-table.striped::-webkit-scrollbar-thumb {
  background: #bebebe; 
  border-radius: 10px;
}

@media only screen and (min-width: 1024px) and (max-width: 1380px)  {
  ion-row.search_place.ios.hydrated, ion-row.search_place.md.hydrated{width: 53.5%;}
  }
  
  @media only screen and (min-width: 1381px) and (max-width: 1500px)  {
  ion-row.search_place.ios.hydrated, ion-row.search_place.md.hydrated{width: 53%;}
  }
  
  @media only screen and (min-width: 1501px) and (max-width: 1800px)  {
  ion-row.search_place.ios.hydrated, ion-row.search_place.md.hydrated{width: 52.5%;}
  }
  @media only screen and (min-width: 1801px) and (max-width: 3000px)  {
  ion-row.search_place.ios.hydrated, ion-row.search_place.md.hydrated{width: 51.5%;}
  }


  @media only screen and (min-width: 1300px)  {
    .search_place .material-icons {
      font-size: 1.471vw;
    }
}
._ngcontent-qsj-c341{
  min-width: 54%;
    text-align: left;
    text-indent: 1.098vw;
    padding-top: 0.732vw;
}
._ngcontent-qsj-c341 label {
  
  font-size: 0.91vw;
  color: #000;
  width: 3.367vw;
  display: inline-flex;
  text-indent: 0px;
  height: 1.098vw;
  align-items: center;
  padding-left: 1.464vw;
}
section._ngcontent-qsj-c341 input[type=checkbox] {
  width: 0.781vw;
  height: 0.781vw;
}
ion-row.search_place.md.hydrated .material-icons,ion-row.search_place.ios.hydrated .material-icons {font-size: 1.250vw;width: 2.88vw;height: 100%;display: inline-flex;align-items: center;justify-content: center;}
div#promotionalOffer .grid-container.horizontal-boxes.item-scroll-box.ng-star-inserted {max-width: 90%;margin: 0 auto;}

.strong-text ::placeholder,.strong-text ,.strong-text input {font-weight: 600 !important;}

span.support-text {
  background: #ebebeb;
  font-size: 0.805vw;
  padding: 0.293vw 0.952vw;
  border-radius: 1.098vw;
}

div#promotionalOffer .item-scroll-box ion-card-subtitle,div#promotionalOffer ion-col.box-price.md.hydrated {font-size: 0.677vw;}




.container {
position: relative;
}

.container input {
position: absolute;
opacity: 0;
cursor: pointer;
}
.container input {
position: absolute;
opacity: 0;
cursor: pointer;
}
.checkmark {
position: absolute;
top: 0;
left: 0;
height: 15px;
width: 15px;
background-color: #eee;
}
.container:hover input ~ .checkmark {
background-color: #ccc;
}
.container input:checked ~ .checkmark {
background-color: #000;
}
.checkmark:after {
content: "✔";
position: absolute;
display: none;
color:#fff;
font-size: 14px;
}

.container input:checked ~ .checkmark:after {
  display: flex;
  justify-content: flex-end;
}

.container .checkmark:after {
  top: -1px;
  left: -2px;
  width: 100%;
  height: 100%;
}

.popup-cust-field{width: 100% !important;}

.crt-cust-form .mat-form-field-subscript-wrapper {
  padding: 0 !important;
    width: 40%;
    display: block;
    left: auto;
    right: 0;
    text-align: right;
    padding-right: 15px !important;

}

.crt-cust-form .mat-form-field-wrapper {
  padding: 0;
  margin-bottom: 0.9vw;
}

.crt-cust-form .mat-form-field-wrapper .mat-form-field-label-wrapper {
  top: 0;
}

.crt-cust-form .mat-form-field-wrapper .mat-input-element{
  margin-top: 1.311vw;
}


.crt-cust-form  ion-col.md.hydrated{padding: 0 !important;}
ion-row.primary-contact-details.md.hydrated {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
ion-row.primary-contact-details.md.hydrated ion-col.md.hydrated:first-child {padding-right: 1.098vw !important;}
ion-row.primary-contact-details.md.hydrated ion-col.md.hydrated:last-child {
  padding-left: 1.098vw !important;
}

ion-grid.primary-contact-details-grid.md.hydrated {
  padding: 0;
}
#customer-create-dialog h5.secondry-heading {
  margin-bottom: 20px;
}
.main-radio-wrap {
  max-width: 59%;
  display: flex;
  justify-content: space-between;
  margin-left: 7%;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #f44336;
}

.mat-form-field.mat-focused .mat-form-field-label{color: rgba(0,0,0,.54);}


app-item-search.ng-star-inserted {
  height: 100%;
  width: 100%;
  display: block;
}

.salesInvoiceItemsFormMain {
  height: 100%;
  position: relative;
}
form.crt-cust-form .mat-error {
  font-size: 8px;
}

.price-inp-edit.ng-star-inserted {
  border: none;
  background: transparent;
  font-size: 16px;
  width: 80px;
  text-align: center;
}
.table-prod-add .striped .mat-cell {
  min-height: 3.660vw;
}

.card-main-invoice-list mat-header-row th:nth-child(3) {
  text-indent: -113px;
  position: relative;
  color: transparent !important;
  width: 45% !important;
  text-align: center !important;
}

.card-main-invoice-list mat-header-row th:nth-child(3):after {content: 'Customer Name';color: #000;}

form#salesInvoiceItemsForm .mat-cell {
  min-height: 3.660vw;
}

form#salesInvoiceItemsForm .mat-cell mat-icon.mat-icon.notranslate {
  font-size: 2.050vw;
  height: auto;
  width: auto;
}

form#salesInvoiceItemsForm ion-button{
  width: auto;
  height: auto;
}
small.ng-star-inserted {
  color: #ff0000;
  padding-left: 10px;
  font-weight: 500;
}
.submit-button-hide {
  pointer-events: none;
}

ion-grid.ion-no-padding.topbar-form.md.hydrated ion-row.align.md.hydrated {column-gap: 0.5%;overflow: auto;padding-bottom: 0.732vw;}
ion-grid.ion-no-padding.topbar-form.md.hydrated ion-row.align.md.hydrated ion-col.md.hydrated:nth-child(1){flex-basis: 20%;padding: 0 !important;padding-right: 5px !important;border-right: 1px solid #ccc;}
ion-grid.ion-no-padding.topbar-form.md.hydrated ion-row.align.md.hydrated ion-col.md.hydrated:nth-child(2){flex-basis: 10%;padding: 0 !important;padding-right: 5px !important;border-right: 1px solid #ccc;}
ion-grid.ion-no-padding.topbar-form.md.hydrated ion-row.align.md.hydrated ion-col.md.hydrated:nth-child(3){flex-basis: 10%;padding: 0 !important;padding-right: 5px !important;border-right: 1px solid #ccc;}
ion-grid.ion-no-padding.topbar-form.md.hydrated ion-row.align.md.hydrated ion-col.md.hydrated:nth-child(4){flex-basis: 10%;padding: 0 !important;padding-right: 5px !important;border-right: 1px solid #ccc;}
ion-grid.ion-no-padding.topbar-form.md.hydrated ion-row.align.md.hydrated ion-col.md.hydrated:nth-child(5){flex-basis: 10%;padding: 0 !important;padding-right: 5px !important;border-right: 1px solid #ccc;}
ion-grid.ion-no-padding.topbar-form.md.hydrated ion-row.align.md.hydrated ion-col.md.hydrated:nth-child(6){flex-basis: 10%;padding: 0 !important;padding-right: 5px !important;border-right: 1px solid #ccc;}
ion-grid.ion-no-padding.topbar-form.md.hydrated ion-row.align.md.hydrated ion-col.md.hydrated:nth-child(7){flex-basis: 10%;padding: 0 !important;padding-right: 5px !important;border-right: 1px solid #ccc;}
ion-grid.ion-no-padding.topbar-form.md.hydrated ion-row.align.md.hydrated ion-col.md.hydrated:nth-child(8){flex-basis: 20%;padding: 0 !important;}
ion-card-content.cust-details-wrapper {
  padding: 0;
}
ion-card-content.cust-details-wrapper .main-list-deatils {
  display: flex;
  column-gap: 0.5%;
  width: fit-content;
  min-width: 75vw;
}



ion-grid.ion-no-padding.topbar-form.md.hydrated ion-row.align.md.hydrated::-webkit-scrollbar-track
{
border-radius: 10px;
background-color: #F5F5F5;

}
ion-grid.ion-no-padding.topbar-form.md.hydrated ion-row.align.md.hydrated::-webkit-scrollbar
  {border-radius:10px;
width: 12px;
background-color: #F5F5F5;
     height:8px;
}
ion-grid.ion-no-padding.topbar-form.md.hydrated ion-row.align.md.hydrated::-webkit-scrollbar-thumb
{
border-radius: 10px;
background-color: #ccc;
}




ion-row.align.main-filed-pos-form.md.hydrated::-webkit-scrollbar {
  width: 7px;
}

ion-row.align.main-filed-pos-form.md.hydrated::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #b5b5b5; 
  border-radius: 10px;
}

ion-row.align.main-filed-pos-form.md.hydrated::-webkit-scrollbar-thumb {
  background: #bebebe; 
  border-radius: 10px;
}
small.lmt-exed.ng-star-inserted {
  position: absolute;
  left: 0;
  top: -10px;
}











@media only screen and (max-width: 786px) {


  form#salesInvoiceItemsForm .mat-cell:nth-child(2) {
    width: fit-content;
    max-width: 340px;
}

form#salesInvoiceItemsForm .mat-cell:nth-child(1) {
    max-width: 90px;
}



ion-card-content.cust-details-wrapper .main-list-deatils {display: block;min-width: 100% !important;max-width: 375px !important;margin: 0 auto;width: auto !important;}

ion-card-content.cust-details-wrapper .main-list-deatils ion-col.md.hydrated {border: none !important;padding: 0 !important;}

ion-card-content.cust-details-wrapper .main-list-deatils input.mat-input-element {min-height: 20px;vertical-align: baseline !important;margin-top: 10px;}

.topbar-form ion-row:not(.search_bar) ion-col ion-card-title.invBtn {padding: 23px 0 !important;border-radius: 30px !important;}
ion-row.search_place.md.hydrated .material-icons, ion-row.search_place.ios.hydrated .material-icons {font-size: 17px;width:35px}

ion-row.align.main-filed-pos-form.md.hydrated,ion-row.align.main-filed-pos-form.ios.hydrated {height: auto !important;overflow: inherit !important;display: block !important;margin-bottom: 10px;margin-top: 15px;}

.paymentForm-inner ion-col.md.hydrated,.paymentForm-inner ion-col.ios.hydrated {width: 100%;}

._ngcontent-qsj-c341 label {font-size: 12px;height: auto;padding: 0;width: fit-content !important;}

._ngcontent-qsj-c341 label {
  padding-left: 18px;
  width: 50% !important;
  text-indent: 0px !important;
}

.main-filed-pos-form ion-col.md.hydrated:last-child ion-text.ion-color, .main-filed-pos-form ion-col.ios.hydrated:last-child ion-text.ion-color {
  padding-bottom: 10px;
}

.main-filed-pos-form ion-col.md.hydrated ion-text.ion-color, .main-filed-pos-form ion-col.ios.hydrated ion-text.ion-color {
  padding-bottom: 5px;
}
form#salesInvoiceItemsForm .mat-cell mat-icon.mat-icon.notranslate {
  font-size: 20px;
}
mat-table.mat-table.cdk-table.striped.table-prod-add mat-cell.mat-cell.cdk-cell.cdk-column-edit.mat-column-edit.ng-star-inserted {padding-right: 155px;}

.main-filed-pos-form ion-col.md.hydrated:first-child ion-text.ion-color, .main-filed-pos-form ion-col.ios.hydrated:first-child ion-text.ion-color {
  padding-bottom: 9px;
  padding-top: 10px;
}

ion-row.align.main-filed-pos-form.md.hydrated, ion-row.align.main-filed-pos-form.ios.hydrated {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.main-radio-wrap {
  padding-top: 10px;
}



span.support-text {font-size: 10px;}

.item-prod-wrapper .pieces-num.count-pcs {
  font-size: 8px;
}
.option-search-list .option-text {
  font-size: 15px;
}
.card-main-invoice-list-footer ion-button {
  height: 35px;
  min-width: 30px;
  text-transform: capitalize;
}
.mat-standard-chip.more-btn {
  color: #499bc0 !important;
  background-color: #fff !important;
  padding: 4px 0px  0px !important;
}

.mat-standard-chip.more-btn .mat-icon-no-color {
  font-size: 40px;
  line-height: 0.45;
  width: fit-content !important;
  margin-left: -13px;
}
}


.card-main-invoice-list mat-header-row th:nth-child(5):after {
  content: "Edit";
  color: #000;
}

.card-main-invoice-list mat-header-row th:nth-child(5) {
  text-indent: -40px;
  position: relative;
  color: transparent !important;
  
}

.card-main-invoice-list .striped .mat-row td:last-child a:after {
  content: "edit";
  color: #ea5255;
  font-family: "Material Icons";
  display: block;
  text-indent: 25px !important;
  text-align: start;
  position: absolute;
  top: 0;
  font-size: 20px;
  line-height: 0.9;
  cursor: pointer;
}

.card-main-invoice-list .striped .mat-row td:last-child a {
  text-indent: -40px;
  position: relative;
  color: transparent !important;
}

.card-main-invoice-list .striped .mat-row td:nth-child(3) {
  width: 200px;
}

ion-grid.ion-no-padding.topbar-form.md.hydrated ion-row.align.md.hydrated ion-col.md.hydrated:first-child {
  display: flex;
  flex-basis: auto;
}
.card-content-md .mat-form-field-infix {
  width: auto;
}
ion-card-content.cust-details-wrapper .main-list-deatils {
  min-width: fit-content;
}
.mat-input-element {
  width: fit-content
}
.topbar-form ion-row:not(.search_bar) ion-col {
   min-width: auto !important;
}

ion-img.item-image.prd-slid-img.ios.hydrated, ion-img.item-image.prd-slid-img.md.hydrated {
  margin: 0vw auto 0.2vw;
}

#promotionalOffer ion-grid.md.hydrated {padding-bottom: 0px;}
input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}