<!-- <ion-card class="card-main-invoice-list">
  <ion-card-footer>
    <ion-row class="align">
    </ion-row>

  </ion-card-footer>
  <ion-card-content>
    <mat-table [dataSource]="dataSource" class="striped drt-inv-list" style="width: 100%">
      <ng-container [matColumnDef]="column" *ngFor="let column of displayedItemsHeader">
        <th mat-header-cell class="draft-table" *matHeaderCellDef>{{column}}</th>
         <td mat-cell class="draft-table" *matCellDef="let row"> <a (click)="editDraftList($event)" >{{row[column]}}</a> </td> -->
      <!-- </ng-container>
    </mat-table>
  </ion-card-content>
</ion-card> -->