<form [formGroup]="salesInvoiceItemsForm" class="salesInvoiceItemsFormMain">

  <ion-grid>
    <ion-row >
      <ion-col size="6">
       <!-- <mat-form-field class="search-table example-full-width"> -->
          <mat-icon matPrefix>search</mat-icon>
          <input
          #box
            matInput
            placeholder="Scan/Search Item Here"
            formControlName="filterValue"
            [matAutocomplete]="filterValue"
          />

          <mat-autocomplete
          autoActiveFirstOption
          #filterValue="matAutocomplete"
  
        >
       
        <mat-option
        *ngFor="let item of searchData"
        [value]="item.item_name"
        (click)="findValue(item.item_code)"
      >

        {{ item.item_code}}
        
      </mat-option>
    </mat-autocomplete>
        <!-- </mat-form-field> -->
      </ion-col>
      <ion-col size="6">
        <!-- <mat-form-field class="search-table example-full-width"> -->
           <mat-icon matPrefix>search</mat-icon>
           <input
             #box
             matInput
             placeholder="Scan/Search Item Here"
             formControlName="filterValue"
             [matAutocomplete]="filterValue"
           />
           <mat-autocomplete
           autoActiveFirstOption
           #filterValue="matAutocomplete"
         >
         <mat-option
         *ngFor="let item of searchData"
         [value]="item.item_name"
         (click)="findValue(item.item_code)"
       >
 
         {{ item.item_name}}
         
       </mat-option>
     </mat-autocomplete>
         <!-- </mat-form-field> -->
       </ion-col>
       <ion-col size="6">
        <div class="search-table example-full-width"
        *ngFor="let item of searchData"
        
        >
        {{ item.item_group}}
        
         
        </div>
        </ion-col>
        <ion-col size="6">
          <div class="search-table example-full-width"
          *ngFor="let item of searchData"
          
          >
          {{ item.last_purchase_rate}}
           
          </div>
          </ion-col>
      
    
    </ion-row>
  </ion-grid>
  <div class="header-text card-main-invoice-list-footer">
    <ion-button size="small" (click)="closeDialog()" class="header-btn" color="danger">
      close
    </ion-button>
  </div>
</form>



