// .header-btn{
//     float: right;
// }


.numpad{
    border: 1px solid gray;
    background-color: whitesmoke;
    text-align: center;
    height: 40px; 
    width: 100%;
}

.numpad-key{
    border: 1px solid gray;
}