<!-- <header mat-dialog-title>

</header>
<ion-item-divider></ion-item-divider>
<ion-grid>
<ion-row>
  <h2>{{receivedrow.name}}</h2>
  <ion-col size="5">
    <br>

  </ion-col>
</ion-row>
<ion-item-divider></ion-item-divider>

</ion-grid> -->




<ion-card class="card-main-invoice-list">
  <ion-card-footer>
    <ion-row class="align">
      
      <ion-col>
        <ion-card-title class="modal-heading">
          <ion-text color="tertiary"> Draft Invioce List </ion-text>
        </ion-card-title>
      </ion-col>
    </ion-row>
  </ion-card-footer>
  <ion-card-content>
    <mat-table [dataSource]="dataSource2" class="striped drt-inv-list" style="width: 100%">
      <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumnsItems">
        <th mat-header-cell class="draft-table" *matHeaderCellDef>{{column}}</th>
        <td mat-cell class="draft-table" *matCellDef="let row"> <a (click)="editDraftList($event)" >{{row[column]}}</a> </td>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumnsItems; sticky: true"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumnsItems"></mat-row>

    </mat-table>


  </ion-card-content>

  <div class="header-text card-main-invoice-list-footer">
    <ion-button size="small" (click)="closeDialog()" class="header-btn" color="danger">
      close
    </ion-button>
  </div>
</ion-card>


