  <form [formGroup] = "salesCustomerDialogForm" (ngSubmit)="customerCreation($event)" class="crt-cust-form">
    <div mat-dialog-content>
      <h5>Create A New Customer </h5>

      <mat-form-field class="example-full-width">
        <input
          matInput
          required
          type="text"
          placeholder="Full Name"
          formControlName="fullName" class="popup-cust-field"
        />
        <mat-error *ngIf="f.fullName.hasError('required')">
          Full Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        
        <input
          type="text"
          matInput
          required
          placeholder="Type"
          formControlName="type" class="popup-cust-field"
          [matAutocomplete]="custType"
          (focusout)="validateInput(f.type, customerType)"

        />
        <mat-autocomplete #custType="matAutocomplete">
          <mat-option *ngFor="let type of customerType" [value]="type">
            {{type}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="f.type.hasError('required')">
          Type is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width option-input">
        <input
          required
          type="text"
          placeholder="Select Customer Group"
          matInput
          formControlName="customerGroup"
          (focusout)="validateInput(f.customerGroup, customerGroupValidation)"
          [matAutocomplete]="customerGroup" class="popup-cust-field"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #customerGroup="matAutocomplete"
  
        >
          <mat-option
            *ngFor="let customerGroup of customerGroupList"
            [value]="customerGroup.name"
          >
            {{ customerGroup.name }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="f.customerGroup.hasError('falseValse')">
          You should select a value from dropdown only.
          <strong>'{{f.customerGroup.value}}'</strong> is not allowed.
        </mat-error>
      </mat-form-field>
      


    <mat-form-field class="example-full-width option-input">
      <input
        required
        type="text"
        placeholder="Select territory"
        matInput
        formControlName="territory"
        (focusout)="validateInput(f.territory, territoryList)"
        [matAutocomplete]="territory"  class="popup-cust-field"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #territory="matAutocomplete"

      >
        <mat-option
          *ngFor="let territory of territoryList | async"
          [value]="territory"
        >
          {{ territory }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="f.territory.hasError('falseValse')">
        You should select a value from dropdown only.
        <strong>'{{f.territory.value}}'</strong> is not allowed.
      </mat-error>
    </mat-form-field>
    <div class="mid-section-sale">   
      <hr class="divider" />
      <h5 class="secondry-heading">Primary Contact Details</h5>
    </div>
 
    <ion-grid class="primary-contact-details-grid">
      <ion-row class="primary-contact-details">
        <ion-col>
          <mat-form-field class="example-full-width">
            <input
              matInput
              required
              placeholder="Mobile No"
              formControlName="mobileNo"
            />
            <mat-error *ngIf="f.mobileNo.hasError('required')">
              Mobile No is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input
              matInput
              required
              placeholder="Address"
              formControlName="address"
            />
            <mat-error *ngIf="f.address.hasError('required')">
              Address is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </ion-col>
        <ion-col>
          <mat-form-field class="example-full-width">
            <input
              matInput
              required
              type="email"
              placeholder="Email ID"
              formControlName="emailId"
            />
            <mat-error *ngIf="f.emailId.hasError('required')">
              Please enter a valid<strong> email address</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input
              matInput
              required
              placeholder="City"
              formControlName="city"
            />
            <mat-error *ngIf="f.city.hasError('required')">
              City is <strong>required</strong>
            </mat-error>
          </mat-form-field>


        </ion-col>
      </ion-row>
    </ion-grid>
  
  
  
  </div>
  <div mat-dialog-actions>

    <button mat-button class="cancel-btn" color="primary" (click)="onNoClick()">Close</button>
    <button mat-button type= "submit" class="confirm-btn" [mat-dialog-close]="data.age" cdkFocusInitial>Save</button>
  </div>

  </form>

