<ion-app>
  <ion-header>
    <ion-toolbar class="toolbar-strip-top">
      <div *ngIf="!loggedIn" slot="end">
        <ion-chip
          routerDirection="'root'"
          *ngIf="!loggedIn"
          routerLink="/"
          (click)="login()"
          lines="none"
          routerLinkActive="active"
          >Log In</ion-chip
        >
      </div>
      <ion-list>
        <ion-item
          *ngIf="loggedIn"
          lines="none"
        >
          <ion-button
            *ngIf="loggedIn"
            slot="end"
            (click)="login()"
            size="small"
            fill="clear"
          >
            <ion-icon name="refresh">Refresh Session</ion-icon>
          </ion-button>
          <ion-text
            class="ion-margin-end"
            *ngIf="loggedIn"
            slot="end"
            color="primary"
          >
            <ng-container *ngIf="counter > 0">
              {{ counter | formatTime }}
            </ng-container>
          </ion-text>
          
          <ion-row class="navTopButton">
            <button mat-button color="primary"
            routerLink="/home"
            >Home</button> 
            <button mat-button color="primary"
            routerLink="/sales"
            >Sales Invoice</button>
            <button mat-button color="primary"
            routerLink="/jobs"
            >Sales Return </button>
            <button mat-button color="primary">Settings</button>
          </ion-row>
          
          <ion-chip slot="end" *ngIf="loggedIn && imageURL" class="iconAcc-login" 
          
         
          >
            <ion-label> {{ fullName }}</ion-label>
            <ion-avatar >
              <img src="{{ imageURL }}" />
            </ion-avatar>
            
          </ion-chip>
          <ion-chip slot="end" *ngIf="loggedIn && !imageURL" class="iconAcc-logout"
          (click)="isSalesMenuVisible = !isSalesMenuVisible"
          >
            <ion-label>{{ fullName }}</ion-label>
            <ion-avatar>
              <img src="../assets/alternative.svg" />
            </ion-avatar>
            
          </ion-chip>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-list
            *ngIf="isSalesMenuVisible"
            class="ion-margin-start ion-no-padding"
          >
            <ion-item
              (click)="isSalesMenuVisible = !isSalesMenuVisible"
              *ngIf="permissionState.sales_invoice.active && loggedIn"
              routerLink="/sales"
              lines="none"
              routerLinkActive="active"
            >
              <ion-icon slot="start" name="list-outline"></ion-icon>
              <ion-label>Sales Invoice</ion-label>
            </ion-item>
            <ion-item
              (click)="isSalesMenuVisible = !isSalesMenuVisible"
              *ngIf="loggedIn && permissionState?.sales_return?.active"
              routerLink="/sales-return"
              lines="none"
              routerLinkActive="active"
            >
              <ion-icon slot="start" name="list-outline"></ion-icon>
              <ion-label>Sales Return</ion-label>
            </ion-item>
            <ion-item
              (click)="isSalesMenuVisible = !isSalesMenuVisible"
              *ngIf="loggedIn && permissionState?.jobs?.active"
              routerLink="/jobs"
              lines="none"
              routerLinkActive="active"
            >
              <ion-icon
                slot="start"
                name="file-tray-stacked-outline"
              ></ion-icon>
              <ion-label>Jobs</ion-label>
            </ion-item>
            <ion-item
              (click)="isSalesMenuVisible = !isSalesMenuVisible"
              routerDirection="'root'"
              routerLink="/"
              *ngIf="loggedIn"
              (click)="logout()"
              class="clickable"
              lines="none"
            >
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-list>
        </ion-menu-toggle>
      </ion-list>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet id="main-content"> </ion-router-outlet>
</ion-app>
